{% extends 'base.html' %}
{% block content %}
{% load static %}
    <section class="ftco-section contact-section">
        <div class="container mt-5">
          <div class="row block-9">
						<div class="col-md-4 contact-info ftco-animate">
							<div class="row">
								<div class="col-md-12 mb-4">
		              <h2 class="h4">Контактная информация</h2>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Адрес:</span> Город Нарын,улица Ленина</p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Телефон:</span> <a href="tel://0706463626">+996706463626</a></p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Емайл:</span> <a href="mailto:info@yoursite.com">chubakkyzy@gmail.com</a></p>
		            </div>
		            <div class="col-md-12 mb-3">
		              <p><span>Сайт:</span> <a href="#">gugol.com</a></p>
		            </div>
							</div>
						</div>

						<div class="col-md-1"></div>

            <div class="col-md-6 ftco-animate">
              <form action="{% url 'email-url' %}" method="post" class="contact-form">{% csrf_token %}
              	<div class="row">
              		<div class="col-md-6">
		                <div class="form-group">
		                  <input type="text" class="form-control" placeholder="Имя" name="name">
		                </div>
	                </div>
	                <div class="col-md-6">
		                <div class="form-group">
		                  <input type="text" class="form-control" placeholder="Емайл" name="email">
		                </div>
		                </div>
                </div>

                <div class="form-group">
                  <textarea name="message" id="" cols="30" rows="7" class="form-control" placeholder="Сообщение"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>




		<div id="myModal" class="my_overlay">

		</div>
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-5 discount ftco-animate">

					<h2 class="mb-4"></h2>
					<p class="mb-4"></p>
<!--                      <button type="button" class="btn btn-warning" data-toggle="modal"data-target="#tour_modal">Запишись</button>-->
					 <button type="button" class="btn btn-white btn-outline-white px-4 py-3" data-toggle="modal"data-target="#tour_modal">Запишись</button>
                      <small>Нажми и запишись</small>
				</div>
			</div>
		</div>



<div class="modal fade" id="tour_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Записывайся</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
        <div class="modal-body">
            {% csrf_token %}
            {{ form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Записаться</button>
        </div>
      </form>
      </div>
    </div>
  </div>


  {% endblock %}
