{% extends 'base.html' %}
{% load static %}
{% block content %}




<section class="ftco-section">
    <div class="col-md-4 sidebar ftco-animate">
        <div class="sidebar-box">
            <form  class="search-form">
                <div class="form-group">
                    <div class="icon">
                        <span class="icon-search"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Я ищу.." name="search_words">
                </div>
            </form>
        </div>
    </div>
</section>

<div class="container">
            <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Наши работы</h2>
            <p class="work-category">
          <span class="px-2"><a href="#" class="active">Все</a></span>
          <span class="px-2"><a href="https://www.instagram.com/p/CUR2vC3Df65/?utm_source=ig_web_copy_link">Макияж</a></span>
          <span class="px-2"><a href="https://www.instagram.com/p/CNugfV6D4G6/?utm_source=ig_web_copy_link">Массаж</a></span>
          <span class="px-2"><a href="https://www.instagram.com/p/CMjYGllDF4L/?utm_source=ig_web_copy_link">Спа</a></span>
          <span class="px-2"><a href="https://www.instagram.com/p/CMwJG_7DP8R/?utm_source=ig_web_copy_link">Стрижки</a></span>
          <span class="px-2"><a href="https://www.instagram.com/p/CNPYqx6De8j/?utm_source=ig_web_copy_link">Маникюр</a></span>
        </p>
    </div>
  </div>



        <div class="row">
			{% for work in works %}

            	<div class="col-md-4 ftco-animate">
        		<a href="#" class="work-entry">
        			<img src="{{work.image.url}}" class="img-fluid" alt="Colorlib Template">
        			<div class="info d-flex align-items-center">
        				<div>
        					<div class="icon mb-4 d-flex align-items-center justify-content-center">
        					</div>
		        			<h3>{{ work.name }}</h3>
							<h6>{{ work.description }}</h6>
	        			</div>
        			</div>
        		</a>
        	</div>

			{% endfor %}
    	      </div>
			</div>




 <div class="d-flex">
      <ul class="pagination ms-auto">
        {% if page_obj.has_previous %}
          <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">
              <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
              prev
            </a>
          </li>
        {% endif %}

        {% for i in page_obj.paginator.get_elided_page_range %}
          {% if i == page_obj.paginator.ELLIPSIS %}
            <li class="page-item ">
              <a class="page-link" href="?page={{i}}">
            {{i}}
            </a>
          </li>
          {% else %}

            <li class="page-item {% if i == page_obj.number %} active {% endif %}">
              <a class="page-link" href="?page={{i}}">
                {{i}}
            </a>
          </li>
          {% endif %}


        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
          <a class="page-link" href="?page={{page_obj.next_page_number}}">
            next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>




<button type="button" class="btn btn-white btn-outline-white px-4 py-3" data-toggle="modal"data-target="#tour_modal">Запишись</button>


<div class="modal fade" id="tour_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Записывайся</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
        <div class="modal-body">
            {% csrf_token %}
			<label for="id_category">Выберите услугу: </label>
			{{form.category}}
			{{form.name.label}}
			{{form.name}}
			{{form.mobile.label}}
			{{form.mobile}}
			{{form.message.label}}
			{{form.message}}
			{{form.date.label}}
			{{form.date}}
			{{form.time.label}}
			{{form.time}}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Записаться</button>
        </div>
      </form>
      </div>
    </div>
  </div>


{% endblock %}



